<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <div class="options">
            <!-- <div class="controls">
                <input type="file" id="button-import" title="Import list">
                    <span class="glyphicon glyphicon-import"></span>
                
                <button title="Export list">
                    <span class="glyphicon glyphicon-export"></span>
                </button>
            </div> -->
            <div class="list">
                <span>My list</span>
                <table id="radio-list">
                    <tbody>
                    </tbody>
                </table>
                <div>
                    <form id="form-add">
                            <button id='button-add' type="submit" title="Add station">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                            <input id="add-name" type="text" placeholder="Name" required>
                            <input id="add-url" type="text" placeholder="URL" required>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="../js/options.js"></script>
</html>