<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <div class="player">
      <div class="player-controls">
        <button id='button-menu'>
          <span class="glyphicon glyphicon-list-alt"></span>
        </button>
        <button id='button-prev'>
          <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        <button id='button-play'>
          <span class="glyphicon glyphicon-play"></span>
        </button>
        <button id='button-next'>
          <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button id='button-mute'>
          <span class="glyphicon glyphicon-volume-up"></span>
        </button>
      </div>
      <div class="player-details">
        <span id="label-name">name</span>
        <br>
        <span id="label-time">00:00</span>
      </div>
    </div>
  </body>
  <script src='../js/player.js'></script>
</html>
